
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    position: relative;
}

.game-setup {
    display: flex;
    flex-direction: row;
}

.game-setup-label {
    display: flex;
    flex-direction: column;
    width: inherit
}

.game-setup-editor {
    display: flex;
    flex-direction: column;
}

.game-info {
    margin-left: 20px;
}

.game-board {
    display: flex;
    flex-direction: row;
}

.ant-dropdown-menu {
    max-height: 250px;
    overflow: auto;
}

.square-x{
    color: red;
}

.square-o{
    color: blue;
}

.square-win{
    background: green;
}